.titulo-container {
  text-align: center; /* Centra el texto en el contenedor */
  margin: 50px 0; /* Espacio arriba y abajo */
}

.catalogo-link {
  font-size: 24px; /* Ajusta el tamaño del texto del enlace */
  color: white; /* Color del texto */
  text-decoration: none; /* Quitar subrayado */
  margin: 20px 0; /* Espacio alrededor del enlace */
}

.catalogo-link:hover {
  text-decoration: underline; /* Agregar subrayado al pasar el mouse */
}





